<h3><%= @user.name %></h3>
<div id="hearts-to-keep"></div>
<div user data-user="<%= @user.id %>"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script>

  var userId = document.querySelector('[user]').dataset.user
  subscribe(userId)
</script>
